<div class="card hot-posts col-lg-4 col-md-4 col-sm-12 shadow-sm">
    <div class="card mt-2 mb-2 bg-body-secondary card-hot-post">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">MEGA POST</h5>
            <p class="card-text">Some mega awesome text wow ow ow post :)</p>
        </div>
    </div>
</div>
