<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block navbar %}
    {% endblock %}
    <div class="card p-3 m-2 shadow-lg">
    <div class="container-fluid row">
            <div class="container col-lg-8 col-md-8 col-sm-12 bg-transparent">

            {% block body %}

            {% endblock %}
            </div>
            {% block hotposts %}
            {% endblock %}
        </div>
        </div>
    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
    </body>
</html>
