<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block navbar %}
    {% endblock %}

    <div class="card p-3 mx-3 shadow-lg">
        {% if app.flashes | length > 0 %}
            <div class="card">
            {% for flash in app.flashes %}
                <div class="alert alert-dismissible mt-2" role="alert">
                    <p class="display-6">{{ flash }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container-fluid row">
            <div class="container col-lg-8 col-md-8 col-sm-12 bg-transparent">
                {% block body %}
                {% endblock %}
            </div>
                {% block hotposts %}
                {% endblock %}
        </div>
    </div>
    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
    </body>
</html>
