{% extends 'base.html.twig' %}

{% block title %}GigaForum{% endblock %}
{% block navbar %}
    {{ include('_navbar.html.twig') }}
{% endblock %}
{% block body %}
    {% for board in boards %}
    <div class="card mb-2 shadow-sm">
        <a href="{{ path('app_board', {'board': board.id}) }}" class="text-decoration-none text-reset display-6 text-center">
            <h1 >{{ board.name }}</h1>
        </a>
    </div>
    {% endfor %}

{% endblock %}

{% block hotposts %}
    {{ include('_hotposts.html.twig') }}
{% endblock %}
